blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==3.0.3

WTForms~=3.2.1
psutil~=6.1.0
marshmallow~=3.26.1
requests~=2.32.3
logging_tree~=1.10
pytest~=8.3.3
freezegun~=1.5.1
storage~=0.0.4.3
Faker~=37.4.0
logging_tree~=1.10